/*边框填充动画*/
.border-full {
  position: relative;
}
.border-full:before,
.border-full:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
  transition: all 500ms linear 0ms;
}
.border-full:before {
  top: 50%;
  width: 100%;
  height: 0;
  border-width: 0 3px;
}
.border-full:after {
  left: 50%;
  width: 0;
  height: 100%;
  border-width: 3px 0;
}
.border-full:hover:before {
  top: 0;
  height: 100%;
}
.border-full:hover:after {
  left: 0;
  width: 100%;
}

.lyric {
  overflow-y: scroll;
  text-align: center;
}
/*文字背景色移动-歌词风格*/
.lyric p {
  margin: 2px 0;
  display: inline-block;
  background-image: linear-gradient(to right, deeppink, deeppink 50%, dodgerblue 51%, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
  box-decoration-break: clone;
  background-size: 200% 100%;
}

@keyframes bg-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}
