<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>列等分布局</title>
  <link rel="stylesheet" href="column-division.css">
</head>
<body>
<ul class="list-start">
  <li>
    <div>1</div>
  </li>
  <li>
    <div>2</div>
  </li>
  <li>
    <div>3</div>
  </li>
  <li>
    <div>4</div>
  </li>
  <li>
    <div>5</div>
  </li>
</ul>

<h5>3列等分，百分比宽度</h5>
<ul class="grid grid-3">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
</ul>

<h5>多列等分，自适应屏幕宽度，定义单列最小宽度</h5>
<ul class="grid grid-auto-fit">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
</ul>
</body>
</html>