/*common*/
body {
  margin: 0;
}
h1 {
  line-height: 200px;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
}
.flex {
  display: flex;
}

/*pages*/
html, body, .inner, .content {
  height: 100%;
}
.inner .content {
  flex-grow: 1;
  overflow-y: scroll;
}
nav {
  width: 200px;
  height: 100%;
  background-color: lightblue;
}

.info {
  height: 200px;
  background-color: #9BA2AA;
}
.mask-up {
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 10;
  background-color: #fff;
}
