h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
body {
  margin: 0;
}
a,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  padding: 0;
  list-style: none;
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  border: none;
}
a,
a:hover {
  text-decoration: none;
}
a:link,
a:visited {
  color: #333;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  font: inherit;
}
